---
import { IProjects } from "@types";
import ProjectCard from "./ProjectCard.astro";

const { projects } = Astro.props as IProjects;
---

<div class="grid md:grid-cols-3 grid-cols-1 gap-x-4 gap-y-6 my-8">
  {projects.map((project) => <ProjectCard projectDetail={project} />)}
</div>
